.section-list-container {
  margin: 0 auto;
  width: 90%;
}
.section-list-item-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.section-list-item-skeleton {
  margin-top: 15px;
  margin-bottom: 15px;
}
