.section-card-container {
  margin: 50px;
}

.section-card-content h5 {
  color: var(--formulaOneRed);
}

.section-card-content h6 {
  color: var(--formulaOneRed);
}

.section-card-content img {
  width: 80%;
}
