.section-card-container {
  margin-bottom: 50px;
  max-width: 800px;
}

.section-card-content h5 {
  color: var(--formulaOneRed);
}

.section-card-content h6 {
  color: var(--formulaOneRed);
}
.section-card-content-img-container {
  width: 100%;
  text-align: center;
}
.section-card-content img {
  padding-top: 15px;
  max-height: 75px;
}
