.loading-container {
  background-color: rgba(0, 0, 0, 0.685);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 30px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loading-container img {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}
